// Librerías, settings y variables
@import "lib/variables.scss";
@import "lib/mixins.scss";
@import "tablas.scss";
// Elementos base
@import "base/buttons.scss";
@import "base/links.scss";
@import "base/typography.scss";
// Components
@import "components/grids.scss";
@import "components/utilities.scss";

// Layout
@import "layout/layout.scss";


body {
    font: 100% $font-stack;
    color: $primary-color;
}

.text-color {
    color: $primary-color;
}

.header {
    color: $primary-color;
}