/* ----------------------------- *\
|             $LAYOUT             |
\* ----------------------------- */

section{
	@include max-width(800px);
	@include respond-to(800px){
		background-color: red;
	}
	background-color: blue;
	background-color: $color-lightgrey;
	padding: $padding;
}

.max-width--huge{
	@include max-width(1024px);
}

body{
	@include max-width(100%);
}